################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lineaire algebra/Lineaire algebra.VC.VC.opendb
